In [1]:
import pandas as pd
from sklearn.metrics import mean_squared_error
df=pd.read_csv(r'C:\Users\user\Desktop\employees.csv')

In [2]:
df

     Department  Worked Hours  Certification  Experience in years  Salary
0   Development          2300              0                  1.1   39343
1       Testing          2100              1                  1.3   46205
2   Development          2104              2                  1.5   37731
3   UX Designer          1200              1                  2.0   43525
4       Testing          1254              2                  2.2   39891
5   UX Designer          1236              1                  2.9   56642
6   Development          1452              2                  3.0   60150
7       Testing          1789              1                  3.2   54445
8   UX Designer          1645              1                  3.2   64445
9   UX Designer          1258              0                  3.7   57189
10      Testing          1478              3                  3.9   63218
11  Development          1257              2                  4.0   55794
12  Development          1596              1                  4.0   56957
13      Testing          1256              2                  4.1   57081
14  UX Designer          1489              3                  4.5   61111
15  Development          1236              3                  4.9   67938
16      Testing          2311              2                  5.1   66029
17  UX Designer          2245              3                  5.3   83088
18  Development          2365              1                  5.9   81363
19  Development          1500              3                  6.0   93940
20      Testing          1456              2                  6.8   91738
21      Testing          1760              1                  7.1   98273
22  UX Designer          2400              4                  7.9  101302
23  Development          2148              3                  8.2  113812
24  UX Designer          1450              2                  8.7  109431
25  UX Designer          1000              4                  9.0  105582
26      Testing          1540              3                  9.5  116969
27  Development          1500              2                  9.6  112635
28      Testing          3000              4                 10.3  122391
29  UX Designer          2100              3                 10.5  121872

In [3]:
df.head()

    Department  Worked Hours  Certification  Experience in years  Salary
0  Development          2300              0                  1.1   39343
1      Testing          2100              1                  1.3   46205
2  Development          2104              2                  1.5   37731
3  UX Designer          1200              1                  2.0   43525
4      Testing          1254              2                  2.2   39891

In [4]:
#converting the non-numeric values to numerics 
from sklearn import preprocessing
le=preprocessing.LabelEncoder()
le.fit(df.Department)
df['Department']=le.transform(df.Department)

In [5]:
from sklearn import linear_model

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
x_train,x_test,y_train,y_test=train_test_split(df[['Department','Worked Hours','Certification','Experience in years']],df.Salary,test_size=0.25,random_state=42)

In [8]:
reg=linear_model.LinearRegression()
reg.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [9]:
y_predict=reg.predict(x_test)
from math import sqrt
from sklearn.metrics import mean_squared_error

In [10]:
rms=sqrt(mean_squared_error(y_test,y_predict))
print("Accuracy is ",rms )

Accuracy is  6277.253591090726